.qrItem > div {
    color: #4f46e5;
}

.backBtn {
    padding-right: 70%;
}

.qrItem .white-box {
    position: fixed;
    /* top: 40vh; */
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    /* height: 60vh; */
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border-radius: 1rem 1rem 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 10000; /* 모달 내용이 최상단에 표시되도록 설정 */
}
.qrItem .white-box > * {
    margin: 1rem 0;
}

.qrItem .white-box > .upBtn {
    padding-bottom: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.qrItem .white-box > .upBtn > img {
    width: 5rem;
    text-align: center;
}

.qrItem .qrCode {
    top: 0;
    width: 100%;
    margin-bottom: 15%;
    margin-top: -1rem;
}
.qrItem .qrCode > img {
    width: 150%;
    max-width: 320px;
}

.payInformation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25%;
}
.payInformation > .title {
    font-size: 1.5rem;
    font-weight: bold;
    width: 70%;
    word-break: keep-all;
}
.payInformation > .subtitle {
    width: 85%;
    word-break: keep-all;
    font-size: 1rem;
}
