.main-container {
    width: 100%;
}
.main-container .card-info-container {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fbfbfb;
}

.main-container .card-info-container .card-main-container {
    height: 20em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.main-container .card-info-container .card-main-container > div {
    padding: 1em 0;
}

.main-container .card-info-container .owned-cards-list {
    height: 100%;
    padding: 3em 0;
}
