.owned-cards-list {
    position: relative;
    width: 100vw;
    height: fit-content;
}

.spread_cards {
    position: relative;
    width: 90%;
    margin: auto;
}

.spread_cards div {
    position: relative;
}

.spread_cards img {
    position: absolute;
    width: 60vw;
    height: 60vw;
    object-fit: contain;
    border-radius: 8px;
    max-width: 300px;
    max-height: 300px;
}

.spread_cards div:active {
    z-index: 101 !important;
    top: -10px;
}
