.owned-cards-list {
    position: relative;
    width: 100vw;
    height: fit-content;
}

.spread_cards {
    width: 90%;
    height: 50%;
    margin: auto;
    padding: 0;
    position: relative;
}

.spread_cards .cardImg {
    position: absolute;
    transform: translateY(4em);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spread_cards img {
    position: absolute;
    width: 60vw;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    max-width: 240px;
    max-height: fit-content;
}
.spread_cards img.rotate {
    position: absolute;
    width: auto;
    height: 60vw;
    object-fit: contain;
    border-radius: 8px;
    max-width: fit-content;
    max-height: 240px;
}

.spread_cards .cardImg:active {
    z-index: 101 !important;
    top: -10px;
}
