/* .main-container{
    height: 100%;
} */
.benefits-section {
    margin: 20px 0;
}

.benefits-section h3 {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.benefits-items {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
}

.management-section h3 {
    padding-bottom: 5px;
}
