.member-pwd-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 60px); /* Header 높이 제외 */
    max-width: 430px;
    margin: 0 auto;
    background-color: #ffffff;
}

h2 {
    margin-top: 20px;
    font-size: 16px; /* "스마트페이 결제" 텍스트 작게 */
    font-weight: bold;
    color: #000000;
}

.pin-circles {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.circle {
    width: 20px; /* 원 크기 더 크게 */
    height: 20px; /* 원 크기 더 크게 */
    border-radius: 50%;
    background-color: #e0e0e0;
    margin: 0 10px; /* 간격도 더 넓게 */
}

.filled {
    background-color: #4f46e5;
}

.pin-keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px; /* 키패드 간격 조정 */
    margin-bottom: 20px;
    width: 80%;
}

.pin-button {
    width: 100%;
    padding: 20px 0; /* 버튼 크기 더 크게 */
    font-size: 22px; /* 버튼 글씨 크기 더 크게 */
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pin-button:hover {
    background-color: #f0f0f0;
}

.centered {
    grid-column: 2 / 3; /* 네 번째 줄에서 두 번째 위치 */
    grid-row: 4; /* 네 번째 줄로 이동 */
    justify-self: center; /* 가운데 정렬 */
}

.undo-button {
    grid-column: 3 / 4; /* 네 번째 줄에서 오른쪽 위치 */
    grid-row: 4; /* 네 번째 줄로 이동 */
}

.wide-button {
    width: 80%; /* 버튼 너비를 80%로 설정 */
}
.passwordText {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}
