@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.welcome-page {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    font-family: 'Pretendard Variable';
}

.main_img img {
    width: 100%;
    max-width: 400px; /* 이미지 크기 조정 */
    height: auto;
    margin-bottom: 20px;
}

.description p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold; /* 글씨 두껍게 */
}
