.benefits-management-container {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* 혜택과 관리 섹션 간 공간 분배 */
    box-sizing: border-box;
}

/* 혜택 섹션 스타일 */
.benefits-section {
    margin-bottom: 10px;
    flex: 1;
}

.benefits-items {
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    gap: 10px;
}

.benefit-item {
    display: flex;
    align-items: center;
    background-color: #f0f4f8;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.benefit-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.benefit-item p {
    font-size: 16px;
    color: #4f46e5;
    margin: 0;
    flex: 1;
    text-align: left;
}

.management-item {
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 95px;
    background-color: #f0f4f8;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
