.card-info-container {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 45px;
    width: 100%;
    height: 370px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #e0e0e0;
    box-sizing: border-box;
}

.card-info-container .header-right {
    padding-right: 0%;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* 세로 정렬을 위해 추가 */
    width: 100%; /* 가로 전체를 차지하도록 설정 */
    margin-bottom: 10px;
}

.card-info-container .add-card-link {
    font-size: 13px;
    color: #4f46e5;
    cursor: pointer;
    text-decoration: underline;
}

.card-info-container .add-card-link:hover {
    color: gray;
}

/* 애니메이션 슬라이드와 회전을 함께 적용 */
@keyframes slideUpDown {
    0% {
        transform: translateY(-20px); /* 초기 위치 */
    }
    100% {
        transform: translateY(5%); /* 위로 20px 이동 */
    }
}

/* card-main-container 클래스 */
.card-info-container .card-main-container {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    max-height: 100%;
    animation: slideUpDown 1s ease-in-out infinite alternate;
}
.card-info-container .card-img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* 가로 이미지 */
.card-info-container .horizontal-image2 {
    transform: rotate(0deg); /* 회전 없음 */
}

/* 세로 이미지 */
.card-info-container .vertical-image2 {
    /* 회전을 div로 따로 시ㅣ고 난 후에 애니메이션 효과 부여 */
    /* animation: slideUpDown 1s ease-in-out infinite alternate; */
    transform: rotate(270deg); /* 270도 회전 후 슬라이드 */
}

.card-info-container .owned-cards-list {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: row;
    overflow: hidden;
}

/* 공통 스타일 정의 */
.card-info-container .card-image {
    transform: rotate(0deg); /* 기본 회전 각도 */
    transition: transform 0.3s ease-in-out;
}

/* 카드의 위치 조정 (y축 고정, x축 이동) */
.card-info-container .owned-card-list {
    position: absolute;
    width: 50%;
    height: 70%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    top: 30%; /* y축 고정 */
}
.card-info-container .slide-container {
    height: 70%;
}
.card-info-container .owned-card-list.vertical-image3 {
    transform: rotate(270deg) translateY(30px); /* 회전 후 50px 오른쪽으로 이동 */
    width: 105px;
    height: 165px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -4px;
}

/* Horizontal 이미지의 카드 리스트 위치 조정 */
.card-info-container .owned-card-list.horizontal-image3:nth-of-type(1) {
    left: 0px;
}
.card-info-container .owned-card-list.horizontal-image3:nth-of-type(2) {
    left: 20px;
}

.card-info-container .owned-card-list.horizontal-image3:nth-of-type(3) {
    left: 60px;
}

.card-info-container .owned-card-list.horizontal-image3:nth-of-type(4) {
    left: 80px;
}

.card-info-container .owned-card-list.horizontal-image3:nth-of-type(5) {
    left: 100px;
}

.card-info-container .owned-card-list.horizontal-image3:nth-of-type(6) {
    left: 140px;
}

.card-info-container .owned-card-list.horizontal-image3:nth-of-type(7) {
    left: 160px;
}

.card-info-container .owned-card-list.horizontal-image3:nth-of-type(8) {
    left: 260px;
}

.card-info-container .owned-card-list.horizontal-image3:nth-of-type(9) {
    left: 300px;
}

.card-info-container .owned-card-list.horizontal-image3:nth-of-type(10) {
    left: 340px;
}

/* Vertical 이미지의 카드 리스트 위치 조정 */
.card-info-container .owned-card-list.vertical-image3:nth-of-type(1) {
    left: 0px;
}

.card-info-container .owned-card-list.vertical-image3:nth-of-type(2) {
    left: 40px;
}

.card-info-container .owned-card-list.vertical-image3:nth-of-type(3) {
    left: 60px;
}

.card-info-container .owned-card-list.vertical-image3:nth-of-type(4) {
    left: 80px;
}

.card-info-container .owned-card-list.vertical-image3:nth-of-type(5) {
    left: 100px;
}

.card-info-container .owned-card-list.vertical-image3:nth-of-type(6) {
    left: 120px;
}

.card-info-container .owned-card-list.vertical-image3:nth-of-type(7) {
    left: 140px;
}

.card-info-container .owned-card-list.vertical-image3:nth-of-type(8) {
    left: 280px;
}

.card-info-container .owned-card-list.vertical-image3:nth-of-type(9) {
    left: 320px;
}

.card-info-container .owned-card-list.vertical-image3:nth-of-type(10) {
    left: 360px;
}

.card-info-container .card-info-text {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

/* 중앙 정렬을 위한 cardText 스타일 */
.card-info-container .cardText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* 부모 요소의 전체 높이 사용 */
    text-align: center; /* 텍스트 중앙 정렬 */
}
