.Order {
    width: 95%;
    margin: auto;
}

.Order .card-info-container1 .cardImg {
    width: 100%;
    height: auto;
}

.Order .card-info-container1 .cardImg img {
    max-width: 20rem;
    width: auto;
    max-height: 20rem;
}

.Order .card-info-container1 .cardImg img.rotate {
    transform-origin: center center;
    max-height: 20rem;
    height: auto;
    max-width: 20rem;
}

.Order .cardImg {
    display: flex;
    justify-content: center;
}

.img-size {
    width: 65%;
    height: auto;
}

.rotate-image {
    transform: rotate(90deg) scale(1.5);
    object-fit: contain;
}

.card-info-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: -webkit-fill-available;
    height: 360px;
}

.card-info-container2 {
    display: flex;
    justify-content: space-between;
    width: 65%;
    align-items: center;
}

.blue-text {
    color: #4f46e5;
}
