@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
html * {
    font-family: 'Pretendard Variable';
}

.MainLogo {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    background-color: #ffffff;
}

.MainLogo img {
    width: 200px;
    height: auto; /* 로고 비율 유지 */
}
